/* ==========================================
   ENERGY_USAGE_MODULE_1X0
========================================== */

.energy{
    background:#1a73e8;
}

.cost{
    background:#34a853;
}

.highest{
    background:#ea4335;
}

.lowest{
    background:#00acc1;
}

.average{
    background:#8e24aa;
}

.unitcost{
    background:#fbbc05;
}


/* KPI Grid */

.kpi-grid{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(280px,1fr));

    gap:20px;

    margin-top:30px;

}


/* KPI Cards */

.kpi-card{

    background:white;

    border-radius:20px;

    padding:25px;

    box-shadow:

    0 3px 10px rgba(0,0,0,.1);

    transition:.3s;

}


.kpi-card:hover{

    transform:translateY(-5px);

}


.kpi-card h3{

    color:#666;

    margin-bottom:10px;

}


.kpi-card h1{

    color:#202124;

}


/* Chart Container */

.chart-card{

    background:white;

    margin-top:40px;

    padding:30px;

    border-radius:20px;

    box-shadow:

    0 3px 10px rgba(0,0,0,.1);

}


.chart-card h2{

    color:#1a73e8;

    margin-bottom:20px;

}


/* AI Panel */

.ai-card{

    background:white;

    padding:30px;

    border-radius:20px;

    box-shadow:

    0 3px 10px rgba(0,0,0,.1);

    line-height:1.8;

}


/* Table */

.table-container{

    background:white;

    padding:30px;

    margin-top:40px;

    border-radius:20px;

    box-shadow:

    0 3px 10px rgba(0,0,0,.1);

}


#searchInput{

    width:300px;

    padding:10px;

    border-radius:10px;

    border:1px solid #ccc;

}


table{

    width:100%;

    border-collapse:collapse;

    margin-top:20px;

}


th{

    background:#1a73e8;

    color:white;

    padding:15px;

}


dd{

    padding:15px;

    border-bottom:1px solid #eee;

}


tr:hover{

    background:#f5f7fa;

}
